body {
    background: rgb(176,27,115);
    background: radial-gradient(circle, rgb(117, 18, 76) 0%, rgb(46, 9, 29) 100%);
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    input {
        padding: 5px;
        border: none;
        border-radius: 5px;
        width: 100%;
        font-size: 20px;
    }

    button {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        color: #000;
        font-size: 10px;
    }
}

.task-list {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    span {
        margin-right: 20px;
    }
}

.task.completed {
    text-decoration: line-through;
    color: #f07979;
}